
.navbar {
    position: fixed;
  background-color: #f1f1f1ee;
  border-bottom: 1px solid #e9ecef;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 5rem;
  z-index: 10;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  list-style: none;
  padding: 0.8rem 0.5rem;

}

.nav-item a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    height: 100%;

    transition: all 0.2s ease-in;
}

.nav-item .active {
    background-color: #96ee93;
    font-size: 1.4rem;
    padding: .4rem .5rem;
    border-radius: 0.7rem;
    font-weight: 600;
}

.mid-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right-nav .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cart img{
    width: 2rem;
    height: 2rem;
}

.logo{
    position: relative;
    left: 1rem;    
    padding: 0.5rem 1rem;
    

}

.logo a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.logo img{
    width: 4rem;
    height: 4rem;
}

.right-nav{
    position: relative;
    right: 2rem;
}