* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2 ease-in;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page {
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f1f1f1;
  gap: 1rem;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.footer-center ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card {
  border: transparent;
  padding: 0.6rem;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.3rem 0.1rem rgba(170, 169, 169, 0.705),
    -0.2rem -0.2rem 0.3rem 0.1rem rgba(170, 169, 169, 0.705);
}
