* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f1f1f1;
}

.logo-icon{
  width: 2rem;
  height: 2rem;
}
.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.footer-center ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}
