.current-offers {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    height: 60vh;
  }

  .current-offers h2{
    margin-bottom: 20px;
    font-size: 2rem;

  }

  .current-offers .offers{
    display: flex;   
    gap: 2rem;
    width: 90%;
  
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow-x: auto;

  }